body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #17202A;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #17202A;
}

input[type="text"],
input[type="number"] {
    width: 96%;
    padding: 9px;
    border: 1px solid #17202A;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #17202A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.expense-list {
    list-style: none;
    padding: 0;
}

.expense-item {
    background-color: rgb(252, 249, 249);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.expense-item .delete-btn {
    background-color: #fcf9f9;
    color: #ec0a0a;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}